body {
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 10px;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: #f9faf8;
}

.content1 {
    display: flex;
    background-color: #1F2937;
    color: #f9faf8;
    padding: 6% 15%;
    gap: 10%;
    align-items: center;
    justify-content: space-between;
}

.content1 .title1{ 
    font-size: 48px;
    font-weight: 900;
}

.content1 .text {
    font-size: 18px;
    color: #e5e7eb;
    font-weight: 100;
}

.content1 .signup {
    background-color: #3882f6;
    text-decoration: none;
    color: #f9faf8;
    border-radius: 8px;
    padding: 7px 25px;
}

.content1 .img1 {
    height: 350px;
}

.content2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.content2 .title2 {
    padding: 50px 0px;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.img11 {
    width: 150px;
    border-radius: 20px;
}

.content2 .boxes {
    display: flex;
    text-align: center;
    gap: 50px;
    padding: 0px 50%;
}

.content3 {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    padding: 100px 25%;
}

.content3 .italic-thin {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 100;
}

.content3 .quote-by {
    margin: -10px;
    font-weight: 800;
    text-align: right;
}

.content4 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0px;
}

.content4 .blue-square {
    display: flex;
    align-items: center;
    gap: 150px;
    background-color: #3882f6;
    padding: 20px 80px;
    border-radius: 10px;
}

.content4 .title4 {
    color: #f9faf8;
    font-weight: 700;
}
 .content4 .text {
    color: #f9faf8;
    font-weight: 100;
    font-size: 15px;
 }

 .content4 .inverted-signup {
    text-decoration: none;
    color: #f9faf8;
    padding: 7px 20px;
    border: 2px solid #f9faf8;
    border-radius: 10px;
 }

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #e5e7eb;
    font-weight: 200;
    font-size: 14px;
    padding: 20px;
 }